/* Global styles for home page */
.home-container {
  text-align: center;
  padding: 40px 20px;
  background-color: #f4f6f8;
}

/* Hero Section */
.hero-section {
  background: url("homeimage07.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  padding: 80px 20px;
  border-radius: 8px;
  margin-bottom: 40px;
  box-shadow: 0 4px 10px rgba(249, 24, 24, 0.1);
}

.hero-section h2 {
  font-weight: bold;
  font-size: 3rem;
}

.hero-section p {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cta-btn {
  margin: 10px;
}

/* Features Section */
.features-section {
  padding: 40px 20px;
}

.features-section h4 {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #0b0101;
}

/* Features container */
.features-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap; /* Allows wrapping of cards on smaller screens */
}

.feature-card {
  width: 280px;
  box-shadow: 0px 4px 10px rgba(151, 4, 4, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(50, 5, 230, 0.966);
}

.feature-card .MuiCardContent-root {
  padding: 20px;
}

/* Call-to-Action Section */
.cta-section {
  background: #fffbf2;
  padding: 60px 20px;
  border-radius: 8px;
  margin-top: 40px;
}

.cta-section h5 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.cta-section button {
  padding: 12px 30px;
  font-size: 1.1rem;
}
