/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #45b2f7;
  color: rgb(27, 1, 1);
  font-family: "Arial", sans-serif;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 15px;
}

nav a {
  color: rgb(11, 7, 7);
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #3498db;
}

nav a.active {
  color: #3498db;
}
