.App {
  text-align: center;
  padding: 1em;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #00050f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(
    8px + 1.5vmin
  ); /* Smaller base font size for better scaling */
  color: white;
  padding: 2rem;
}

.App-link {
  color: #61dafb;
  font-size: 1rem;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .App-logo {
    height: 50vmin;
  }

  .App-header {
    font-size: calc(8px + 2vmin);
    padding: 1rem;
  }

  .App-link {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .App-logo {
    height: 70vmin;
  }

  .App-header {
    font-size: calc(8px + 3vmin);
    padding: 0.5rem;
  }

  .App-link {
    font-size: 0.8rem;
  }
}
